USE [master]
GO
/****** Object:  Database [Juego]    Script Date: 20/7/2020 12:41:14 ******/
CREATE DATABASE [Juego]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Juego', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Juego.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Juego_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Juego_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Juego].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Juego]
GO
/****** Object:  Table [dbo].[Juego]    Script Date: 20/7/2020 12:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Juego](
	[id] [int] NOT NULL,
	[nombre] [varbinary](50) NOT NULL,
	[descriocion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Juego] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Jugador]    Script Date: 20/7/2020 12:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jugador](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechaNac] [date] NOT NULL,
	[apodo] [varchar](50) NOT NULL,
	[Contracenia] [varchar](50) NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[puntaje]    Script Date: 20/7/2020 12:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puntaje](
	[id] [int] NOT NULL,
	[puntaje] [float] NOT NULL,
	[jugador_id] [int] NULL,
	[juego_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[puntaje]  WITH CHECK ADD FOREIGN KEY([juego_id])
REFERENCES [dbo].[Juego] ([id])
GO
ALTER TABLE [dbo].[puntaje]  WITH CHECK ADD FOREIGN KEY([jugador_id])
REFERENCES [dbo].[Jugador] ([id])
GO
USE [master]
GO
